version: 2.1

orbs:
  ruby: circleci/ruby@2.0.1

jobs:
  build:
    docker:
      - image: 'cimg/ruby:3.3.8-node'

    working_directory: ~/repo

    steps:
      - checkout

      - run:
          name: Install apt dependencies (graphviz)
          command: |
            sudo apt update -q \
            && sudo apt upgrade -q \
            && sudo apt install -qq graphviz
      - ruby/install-deps:
          key: gems-v2
          include-branch-in-cache-key: false
      - ruby/rspec-test
